export(growth_agr)
export(growth_allometry)
export(growth_cgr)
export(growth_classical)
export(growth_data)
export(growth_design)
export(growth_example_data)
export(growth_indices)
export(growth_lad)
export(growth_lai)
export(growth_lar)
export(growth_lmr)
export(growth_nar)
export(growth_partition)
export(growth_plan)
export(growth_plot)
export(growth_rgr)
export(growth_sla)
export(growth_validate)
export(growth_models)
export(growth_start)
export(growth_fit)
export(growth_multistart)
export(growth_predict)
export(growth_compare)
export(growth_diagnose)
export(growth_traits)
export(growth_inflection)
export(growth_maxrate)
export(growth_time_to)
S3method(as.data.frame,agri_growth_data)
S3method(coef,agri_growth_fit)
S3method(plot,agri_growth_fit)
S3method(print,agri_growth_allometry)
S3method(print,agri_growth_comparison)
S3method(print,agri_growth_data)
S3method(print,agri_growth_design)
S3method(print,agri_growth_diagnostics)
S3method(print,agri_growth_fit)
S3method(print,agri_growth_fit_collection)
S3method(print,agri_growth_fit_set)
S3method(print,agri_growth_indices)
S3method(print,agri_growth_partition)
S3method(print,agri_growth_plan)
S3method(print,agri_growth_start)
S3method(print,agri_growth_validation)
importFrom(stats,aggregate)
importFrom(stats,as.formula)
importFrom(stats,coef)
importFrom(stats,complete.cases)
importFrom(stats,integrate)
importFrom(stats,lm)
importFrom(stats,model.frame)
importFrom(stats,nls)
importFrom(stats,predict)
importFrom(stats,quantile)
importFrom(stats,setNames)
importFrom(stats,terms)
importFrom(stats,uniroot)
importFrom(utils,head)
importFrom(utils,modifyList)
importFrom(utils,read.csv)
importFrom(stats,time)
export(growth_mixed)
export(growth_mixed_diagnose)
export(growth_smooth)
export(growth_smooth_predict)
export(growth_derivative)
export(growth_acceleration)
export(growth_smooth_traits)
export(growth_fpca)
export(growth_functional)
export(growth_curve_coefficients)
export(growth_manova)
S3method(print,agri_growth_mixed)
S3method(print,agri_growth_mixed_diagnostics)
S3method(print,agri_growth_smooth)
S3method(print,agri_growth_smooth_collection)
S3method(print,agri_growth_fpca)
S3method(print,agri_growth_manova)
export(growth_boot)
export(growth_boot_ci)
export(growth_boot_traits)
export(growth_selection_stability)
export(growth_prior)
export(growth_bayes)
export(growth_prior_predict)
export(growth_pp_check)
export(growth_bayes_diagnose)
export(growth_posterior_traits)
export(growth_loo)
export(growth_model_average)
S3method(print,agri_growth_boot)
S3method(print,agri_growth_selection_stability)
S3method(print,agri_growth_prior)
S3method(print,agri_growth_bayes)
S3method(print,agri_growth_bayes_diagnostics)
S3method(print,agri_growth_loo)
S3method(print,agri_growth_model_average)
export(growth_multiphase)
export(growth_diphasic)
export(growth_stability)
export(growth_changepoint)
export(growth_event)
export(growth_defoliation)
export(growth_compensation)
export(growth_density)
export(growth_neighbor)
export(growth_competition)
export(growth_threshold)
export(growth_plateau_time)
export(growth_harvest_opt)
export(growth_schedule)
export(growth_design_sim)
export(growth_power)
S3method(print,agri_growth_multiphase)
S3method(print,agri_growth_multiphase_collection)
S3method(print,agri_growth_changepoint)
S3method(print,agri_growth_event)
S3method(print,agri_growth_defoliation)
S3method(print,agri_growth_density)
S3method(print,agri_growth_competition)
S3method(print,agri_growth_harvest)
S3method(print,agri_growth_power)
export(growth_method_guide)
export(growth_workflow)
export(growth_workflow_audit)
export(growth_table)
export(growth_report)
export(growth_export)
S3method(print,agri_growth_method_guide)
S3method(print,agri_growth_workflow)
S3method(summary,agri_growth_workflow)
